[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Caprice32
Name[ar]=Caprice32
Name[be]=Caprice32
Name[bg]=Caprice32
Name[bn]=Caprice32
Name[bs]=Caprice32
Name[ca]=Caprice32
Name[cs]=Caprice32
Name[da]=Caprice32
Name[de]=Caprice32
Name[dz]=Caprice32
Name[el]=Caprice32
Name[eo]=Caprice32
Name[es]=Caprice32
Name[eu]=Caprice32
Name[fi]=Caprice32
Name[fr]=Caprice32
Name[ga]=Caprice32
Name[gl]=Caprice32
Name[gu]=Caprice32
Name[he]=Caprice32
Name[hi]=Caprice32
Name[hr]=Caprice32
Name[hu]=Caprice32
Name[id]=Caprice32
Name[it]=Caprice32
Name[ja]=Caprice32
Name[ka]=Caprice32
Name[km]=Caprice32
Name[ko]=Caprice32
Name[ku]=Caprice32
Name[lt]=Caprice32
Name[mk]=Caprice32
Name[ml]=Caprice32
Name[mr]=Caprice32
Name[nb]=Caprice32
Name[ne]=Caprice32
Name[nl]=Caprice32
Name[nn]=Caprice32
Name[pa]=Caprice32
Name[pl]=Caprice32
Name[pt]=Caprice32
Name[pt_BR]=Caprice32
Name[ro]=Caprice32
Name[ru]=Caprice32
Name[sk]=Caprice32
Name[sq]=Caprice32
Name[sv]=Caprice32
Name[ta]=Caprice32
Name[th]=Caprice32
Name[tl]=Caprice32
Name[tr]=Caprice32
Name[uk]=Caprice32
Name[vi]=Caprice32
Name[wo]=Caprice32
Name[zh_CN]=Caprice32
Name[zh_TW]=Caprice32
GenericName=Caprice32
Comment=Amastrad CPC Emulator
Icon=/usr/share/pixmaps/cap32.png
Exec=/usr/bin/cap32
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
